

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<!-- Footer -->
  <section id="footer">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>LOCATION</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>2215 John Daniel Drive</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Clark, MO 65243</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>AROUND THE WEB</h5>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-inline quick-links ">
                <li><a href="javascript:void();"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="javascript:void();"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="javascript:void();"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li><a href="javascript:void();"><i class="fa-solid fa-globe"></i></a></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>ABOUT FREELANCER</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Freelance is a free to use, licensed Bootstrap theme created by Route</a></li>
          </ul>
        </div>
      </div>
  
    
    </div>
  </section>
  <!-- ./Footer -->
  <div id="Copyright">
    <div class="row" >
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p class="h6">Copyright © Eng.Mohamed Ghazy</p>
        </div>
      </div>  
  </div>