<div class="home text-center text-light p-5">
    <h1 class="display-4" >CONTACT SECTION</h1>
    <div class="d-flex align-items-center justify-content-center mb-3">
        <div class="line m-3" style="background-color: rgb(0, 0, 0); width: 100px; height: 5px;"></div>
        <i  class="fa-solid fa-star " style="color: black;"></i>
        <div class="line m-3  " style="background-color: rgb(0, 0, 0); width: 100px; height: 5px;"></div>
    </div>
<section>
    <form  novalidate="" action="" class="w-50 p-3 mx-auto mt-5 ng-pristine ng-valid ng-submitted ng-touched">
        <label _ngcontent-gqf-c16="" for="userName" class="position-relative top-0 __top">userName : </label>
        <input _ngcontent-gqf-c16="" id="userName" type="text" placeholder="userName" name="userName" class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched">
        <label _ngcontent-gqf-c16="" for="userAge" class="position-relative top-0 __top">userAge : </label>
        <input _ngcontent-gqf-c16="" id="userAge" type="text" placeholder="userAge" name="userName" class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched">
        <label _ngcontent-gqf-c16="" for="userEmail" class="position-relative top-0 __top">userEmail : </label>
        <input _ngcontent-gqf-c16="" id="userEmail" type="text" placeholder="userEmail" name="userName" class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched">
        <label _ngcontent-gqf-c16="" for="userPassword" class="position-relative top-0 __top">userPassword : </label>
        <input _ngcontent-gqf-c16="" id="userPassword" type="text" placeholder="userPassword" name="userName" class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched">
        <button _ngcontent-gqf-c16="" class="btn mt-4 text-white" style="background-color: #1abc9c;"> send Message </button>
    </form>
</section>
</div>