*{
    background-color: #1ABC9C;

}
h1{
    padding: 10px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
}
.container{
    width: 100px;
    padding: 100px;
    background-color: #1ABC9C;

}


