<section>
    <div class="home text-center text-light p-5">
        <img src="./assets/imgs/avataaars.svg" alt="homePic" class="w-25 mb-5">
        <h1 class="display-4">START FRAMEWORK</h1>
        <div class="d-flex align-items-center justify-content-center mb-3">
            <div class="line m-3" style="background-color: white; width: 100px; height: 5px;"></div>
            <i  class="fa-solid fa-star "></i>
            <div class="line m-3  " style="background-color: white; width: 100px; height: 5px;"></div>
        </div>
        <p>Graphic Artist - Web Designer - Illustrator</p>
    </div>
</section>